/*
1. Подключение шрифтов
2. Определить цвета текста
3. Фон блоков
4. Оформление кнопок и ссылок
5. Адресс
*/

address {
  font-style: normal;
  background-color: 2f303a;
}

.footer {
  background: 2f303a;
}
